ErrorDocument 404 /404.html


RewriteCond %{HTTP_HOST} ^overflowproject\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.overflowproject\.com$
RewriteRule ^/?$ "http\:\/\/www\.overflowproject\.org\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^theoverflowproject\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.theoverflowproject\.com$
RewriteRule ^/?$ "http\:\/\/www\.overflowproject\.org\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^theoverflowproject\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.theoverflowproject\.org$
RewriteRule ^/?$ "http\:\/\/www\.overflowproject\.org\/" [R=301,L]
Options -Indexes

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip
